{{!-- Page heading --}}
<h1>Welcome to Good Burger, home of the Good Burger</h1>

{{!-- Burgers heading --}}
<h2>Available burgers</h2>
<ul>
    {{#each burgers}} 
        {{#unless devoured}} 
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

{{!-- Eaten burgers --}}
<h2>Burgers in the belly!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}

</ul>

{{!-- Add a burger --}}