{{!-- Not sure I 100% understand the purpose of this file --}}

<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-neweaten="{{neweaten}}">
        {{#if neweaten}}TIME TO EAT!{{else}}YUMMY in the TUMMY!{{/if}}
    </button>
</li>